body {
	background: #bb9a07;
	
}

.box
{
	background: #917702;
	width: 50%;
	margin: 40px 0 0 270px;
}

.btn-sub
{
   background-color: #b89704;
}

button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}



a{
    float: right;
    margin-top: 10px;
}

.success {
	text-align: center;
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }