
body
{
	background: rgb(35, 166, 189);
    position: relative;
}


.navbar{
    background-color: #333;
    
}
.navbar a{
    color: white;
    
}
.navbar li:hover{
    background-color: black;
}

.navbar-nav
{
    float: right;
}

.navbar-toggler-icon{
    
    font-size: 20px;
}

.logo
{
    color: white;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}

.heading
{
    position: absolute;
    top: 20px;
}


tr {
    background-color: rgb(248, 250, 252);
    color: rgb(3, 3, 3);
    
}



.btn-green
{
    background-color: green;
    color: white;
}


.btn-red
{
    background-color: red;
    color: white;
}


.btn-submit
{
    background-color: rgb(5, 133, 172);
    color: white;
}

.updateform
{
    background-color:#035c80;
    color: white;
    width: 40%;
    position: absolute;
   top: 50px;
   left: 33%;
   margin: 80px 0 60px;
}


.center
{
    text-align: center;
}

#table1 tr
{
    font-size: 20px;
    background-color: rgb(24, 136, 211);
    color: white;
}

.viewadmin
{
    position: absolute;
    top: 30px;
    left: 30%;
    width: 40%;
}

#admintable
{
    text-align: center;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 30px;
	vertical-align: middle;
	
}

#feedback{
    top: 150px;
    position: absolute;
    left: 15%;
    width: 70%;
}